// Colors
$red          : #c0392b;
$orange       : #f39c12;
$emerald      : #2ecc71;
$smoke        : #ececec;
$vapor        : #b6b6b6;
$black        : #0a0a0a;
$white        : #fefefe;
$secundary    : #43263a;
$brand-primary: #27ae60;


/* Font Size px */
$font-size-9px : 0.85rem;
$font-size-10px: 1rem;
$font-size-12px: 1.2rem;
$font-size-14px: 1.4rem;
$font-size-16px: 1.6rem;
$font-size-18px: 1.8rem;
$font-size-19px: 1.9rem;
$font-size-22px: 2.2rem;
